
body {
    background-color: black;
    text-align: center;
    font-family: 'Rock Salt', cursive;
}

.header {
    padding: 25px;
}

h1 {
    color: white;
   
}
.instructions {
    background-color: black;
    color: white;
    

}

.random {
    background-color: black;
    width: 200px;
    height: 200px;
    color: white;
    
}

.totals {
    background-color: black;
    width: 200px;
    height: 200px;
    color: white;
    
}
.crystals {
    margin-top: 65px;
   
}

img {
    height: 100px;
    width: 100px;
    
  
}

